<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.firstproject.home.HomeMapper">

    <!-- 유저별 프로젝트 조회 -->
    <select id="getHomeProjects">
        SELECT
        p.project_no AS projectNo,
        p.title,
        p.start_at AS startAt,
        p.deadline AS deadLine,
        p.description
        FROM project p
        JOIN user_project up ON p.project_no = up.project_no
        WHERE up.user_no = #{signedUserNo}
        ORDER BY p.start_at ASC;
    </select>

</mapper>