<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.firstproject.user.UserMapper">

    <!-- 사용자 회원가입 -->
    <insert id="insertUser">
        INSERT INTO user (email, user_id, password, nickname)
        VALUES (#{email}, #{userId}, #{password}, #{nickname})
    </insert>

    <!-- 중복체크 -->
    <select id="checkDuplicates">
        SELECT
        SUM(email = #{email}) AS emailCount,
        SUM(user_id = #{userId}) AS userIdCount,
        SUM(nickname = #{nickname}) AS nicknameCount
        FROM user
    </select>


    <!-- 1. 사용자 로그인 -->
    <select id="userSignIn">
        SELECT
        user_no AS userNo,
        password,
        nickname,
        email,
        profile_pic AS profilePic,
        first_login AS firstLogin,
        status_message AS userStatusMessage
        FROM user
        WHERE email = #{email}
    </select>


    <!-- 2. 사용자 정보 조회 -->

    <select id="selUserInfo">
        SELECT
        u2.email,
        u2.nickname,
        u2.status_message AS userStatusMessage,
        u2.profile_pic AS profilePic
        FROM user u1
        JOIN user u2
        ON u1.user_no = #{signedUserNo}
        WHERE u2.user_no = #{targetUserNo};
    </select>
</mapper>